@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}


body {
    font-family: "Poppins", sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

/*Header*/
header {
    position: relative;
    /* Para el contexto de posicionamiento */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    /* Asegura que el header ocupe toda la altura de la pantalla */
    background-image: linear-gradient(180deg, #00000036 0%, #0000004f 100%), url(../images/naturaArbol.jpg);
    background-size: cover;
    background-position: center;
}



.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5s ease;
    z-index: 10;
}

.nav.active {
    background: #fff;
    padding: 15px;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Ajusta estos valores según sea necesario */

}

.logo {
    z-index: 10;
}

.nav.active .logo,
.nav.active a {
    color: #000;
}

.nav.active .menu-btn {
    color: #000;
}

.nav.active a:hover {
    background: #000;
    color: #fff;
}

.logo {
    font-size: 25px;
    color: #fff;
    font-weight: 100;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 10px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.menu li a:hover {
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 15px;
}

.menu-btn {
    color: white;
    font-size: 20px;
    display: none;
    cursor: pointer;
}

/*Texto del encabezado*/

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    color: #ffffff;
}

.header__title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.header__paragraph {
    margin-bottom: 70px;
}

.cta {
    display: inline-block;
    background-color: #e9b23c;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/*About*/
.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph {
    line-height: 1.7;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    /*Adaptabilidad de las columnas automática, si cambias el 260 cambia el ancho de about__icons*/
}

.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icons a {
    background-color: #3c4de9;
    /*Para cambiar el color del botón aquí*/
}

.about__icon {
    width: 40px;
}



/*Knowledge*/

.knowledge {
    background-color: #e5e5f7;
    opacity: 0.8;
    background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#e6f7fa 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #e6f7fa 2px, #e5e5f7 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
    overflow: hidden;
}

.knowledge__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*Esto reparte el espacio equitativamente*/
    gap: 1em;
    align-items: center;
}

.cta_knowledge {
    background-color: #3c4de9;
    /*Para cambiar el color del botón aquí*/
}

.knowledge__paragraph {
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__subtitle {
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__picture {
    max-width: 500px;
}

.knowledge__img {
    width: 100%;
    display: block;
    border-radius: 35px;
}


/*Contenedor de precios*/

.price {
    text-align: center;
}

.price__table {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price__element {
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-items: #696871;
}

.price__element--best {
    width: 370px;
    padding: 60px 40px;
    background-color: #FF7143;
    --color-plan: rgb(255 255 255 / 75%);
    --color-price: #fff;
    --bg-cta: #9F3919;
    --color-cta: #fff;
    --color-items: #fff;
}

.price__name {
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.price__price {
    font-size: 2.5rem;
    color: var(--color-price);
}

.price__items {
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.price__cta {
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

/*Testimony*/

.testimony {
    background-color: #e5e5f7;
}

.testimony__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.testimony__body--show {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts {
    max-width: 700px;
}

.testimony__course {
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow {
    width: 90%;
    cursor: pointer;
}

/*Questions*/
.questions {
    text-align: center;
    background: #F5F5F5;
    padding-top: 50px;
    padding-bottom: 50px;
}


.questions__container {
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions__padding {
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454D4;
    border-radius: 6px;
}

.questions__padding--add {
    padding-bottom: 30px;
}

.questions__answer {
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title {
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions__arrow {
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}

.questions__arrow--rotate {
    transform: rotate(180deg);
}

.questions__show {
    text-align: left;
    height: 0;
    transition: height .3s;
}

.questions__img {
    display: block;
}

.questions__copy {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/*Footer*/

.footer {
    background-color: #1D293F;
    padding: 50px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer__title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title,
.footer__email{
    color: #fff;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}


.nav--footer {
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
    position: unset;
    z-index: 0;
}

.nav__link {
    display: flex;
    gap: 2em;
    padding: 0;
    list-style: none;
    justify-content: center;
}

.nav__link--footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}


.footer__inputs {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input {
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit {
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #2091F9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy {
    --padding-container: 30px 0;
    text-align: center;
    color: #ffffff;
}

.footer__copyright {
    font-weight: 300;
}

.footer__icons {
    margin-bottom: 10px;
}

.footer__img {
    width: 30px;
}

/*Equipo*/

.header__team {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(180deg, #0000006d 0%, #00000070 100%), url(../images/psicologia_online.jpg);
    background-size: cover;
}

.team__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.team__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

/* Tarjetas de equipo */
.container {
    padding: 20px;
}

.card {
    background-color: rgb(255, 255, 255);
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out, height 0.6s ease, margin 0.6s ease;
    /* Suaviza el cambio en la altura y el margen */
    overflow: hidden;
    flex-wrap: wrap;
    /* Asegura que el contenido pueda envolverse */
}

.card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card-content {
    margin-left: 20px;
}

.card-content-reverse {
    margin-right: 20px;
    margin-left: 0;
}

.card h2 {
    margin: 10px 0 5px;
}

.card p {
    margin: 5px 0;
}

.card a {
    color: #007BFF;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

.card:nth-child(even) {
    flex-direction: row-reverse;
}

/* Estilos para la expansión */
.card-description {
    max-height: 0;
    /* La descripción está oculta por defecto */
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.3s ease;
    padding: 0 20px;
    /* Espaciado interno cuando esté expandido */
    width: 100%;
    /* Asegura que la descripción ocupe el 100% del ancho de la tarjeta */
}

.card.expanded .card-description {
    max-height: 200px;
    /* Cambia este valor según la cantidad de texto */
    padding-top: 15px;
    /* Añadir espacio superior al expandirse */
    transition: max-height 0.8s ease-in-out;
}

.card.expanded {
    flex-direction: column;
    /* Cambia la estructura a columna para que el contenido se expanda en vertical */
    height: auto;
    /* Permite que la tarjeta se ajuste a su nuevo contenido */
    background-color: #f5f5f5;
    transition: flex-direction 0s, height 0.6s ease, margin 0.6s ease;
    /* Elimina el cambio abrupto del flex-direction */
}

.expand-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff31;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.expand-btn:hover {
    background-color: #2b9ed3b2;
}

.card.expanded .expand-btn {
    display: none; /* Oculta el botón de expansión cuando la tarjeta está expandida */
}

.close-btn {
    display: none; /* Inicialmente oculto */
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff31;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: #2b9ed3b2;
}

.card.expanded .close-btn {
    display: inline-block; /* Muestra el botón de cerrar cuando la tarjeta está expandida */
}



/* Para asegurar que las imágenes se centren y mantener apariencia */
.card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card.expanded .card-content {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    transition: margin 0.6s ease;
    /* Suaviza los márgenes durante la expansión */
}


/*Calendario*/

.header__calendar {
    position: relative;
    /* Para el contexto de posicionamiento */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(180deg, #0000006d 0%, #00000070 100%), url(../images/terapia2.jpg);
    ;
}

.header__calendar__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 2rem;
    color: #ffffff;
}

.calendar__container {
    width: 100%;
    height: 110vh;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.calendar__container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/*Media*/

@media screen and (max-width:1024px) {

    /*Header*/
    .menu-btn {
        display: block;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        background: linear-gradient(#470cd2, #e2a92d);
        opacity: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        transform: translatex(-100%);
    }

    .menu li {
        margin: 15px 0;
    }

    .menu.active {
        transform: translatex(0);

    }

    .header__title {
        font-size: 2.5rem;
    }

    /*Main*/

    .about__main {
        gap: 2em;
    }

    .about__icons:last-of-type {
        grid-column: 1/-1;
    }

    .knowledge__container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture {
        justify-self: center;
    }

    .testimony__body {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }

    .testimony__img {
        width: 200px;
        height: 200px;
    }

    .questions__copy {
        width: 100%;
    }


}

@media (max-width: 800px) {

    /*footer*/

    .footer__container {
        flex-wrap: wrap;
    }

    .nav--footer {
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer {
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form {
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input {
        flex: 1;
    }
}

@media (max-width:600px) {
    .header__title {
        font-size: 2rem;
    }

    .header__paragraph {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 1.8rem;
    }

    .price__element {
        width: 90%;
    }

    .price__element--best {
        width: 90%;
    }

    .price__price {
        font-size: 2rem;
    }

    .testimony {
        --padding-container: 30px 0;
    }

    .testimony__container {
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow {
        width: 100%;
    }

    .testimony__course {
        margin-top: 15px;
    }

    .questions__title {
        font-size: 1rem;
    }

    .nav--footer {
        padding-bottom: 60px;
    }

    .nav__link--footer {
        justify-content: space-between;
    }

    .footer__title {
        justify-self: start;
        margin-bottom: 15px;
    }

    .footer__inputs {
        flex-wrap: wrap;
    }

    .footer__input {
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit {
        margin-right: auto;
        margin-left: 0;
    }
}

/*Media del apartado Equipo*/
@media (min-width: 1200px) {
    .card {
        max-width: 80%;
        margin: 20px auto;
    }

    .card img {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 768px) {
    .card {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .card-content,
    .card-content-reverse {
        margin: 0 20px;
        text-align: left;
    }

    .card.expanded {
        flex-direction: column;
        /* En pantallas grandes, se asegura que al expandirse, la tarjeta cambie a columna */
    }
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .card:nth-child(even) {
        flex-direction: column;
    }

    .card-content-reverse {
        margin-left: 20px;
        justify-content: center;
    }
}
